{% extends "base_generic.html" %}

{% block content %}
  <h1 style="margin-bottom: 30px">{{ author.first_name }} {{ author.last_name }} </h1>

  <p><strong>Date of birth:</strong>{{ author.date_of_birth }}</p> <!-- author detail link not yet defined -->
  {% if author.date_of_death %}
  <p><strong>Date of death:</strong> {{ date_of_death }}</p>
  {% endif %}
  <div style="margin-left:0px;margin-top:40px;">
    <hr>
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <hr>
    <p style="font-size: 11pt"><strong>Title:</strong> {{book.title}}</p>
    <p><strong>Language:</strong> {{book.language}}</p>
    {% endfor %}
  </div>
{% endblock %}